/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*1rem equal 10px*/
  font-size: 62.5%;
}

/* CSS variables */
:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

/* Body */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--DarkBlue);
  font-family: "Manrope", sans-serif;
  padding-inline: 15px;
}

/* make image resposive */
img {
  width: 100%;
}

/* advice container */
.advice__container {
  max-width: 500px;
  text-align: center;
  padding: 25px;
  background-color: var(--DarkGrayishBlue);
  border-radius: 10px;
  position: relative;
}

/* advice id   */
.advice__id {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--NeonGreen);
  padding-bottom: 20px;
}

/* advice text */
.advice {
  color: var(--LightCyan);
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 30px;
}

/* divider */
.divider {
  padding-bottom: 30px;
}

/* dice image wrapper button  */
.dice {
  background-color: var(--NeonGreen);
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  display: grid;
  place-items: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* dice image */
.dice__img {
  width: 41%;
  height: 41%;
  display: grid;
  place-items: center center;
}

/* dice image wrapper hover */
.dice:hover {
  transition: 0.25s;
  box-shadow: 0 0 25px var(--NeonGreen);
}

/* attribution */
.attribution {
  margin-top: auto;
  padding-top: 60px;
  color: var(--LightCyan);
  font-size: 1.6rem;
  text-align: center;
}

.attribution a {
  color: var(--NeonGreen);
}
